@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: "Rubik", sans-serif;
    }

    html, body, #root {
        height: fit-content;
    }
}

@layer components {
    .menu-button {
        background-color: transparent;
        border: none;
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    .menu-icon, .menu-icon::before , .menu-icon::after {
        background-color: white;
        width: 30px;
        height: 3px;
        border-radius: 5px;
        position: absolute;
        transition: all 0.5s;
    }
    
    .menu-icon::before, .menu-icon::after {
        content: "";
        width: 30px;
        height: 3px;
    }
    
    .menu-icon::before {
        transform: translate(-15px, -8px);
    }
    
    .menu-icon::after {
        transform: translate(-15px, 8px);
    }
    
    .menu-button:focus {
        outline: none;
        border: none;
    }
    
    /* to form the X */
    :is(.active) .menu-icon {
        background-color: transparent;
    
        /* THIS IS TO ADD THE SPINNING EFFECT ON THE MENU ICON */
        transform: rotate(360deg);
    }
    
    /* to form the X */
    :is(.active) .menu-icon::before {
        transform: translateX(-15px) rotate(45deg);
    }
    
    /* to form the X */
    :is(.active) .menu-icon::after {
        transform: translateX(-15px) rotate(-45deg);
    }

    .show-menu {
        animation: revealMenu 0.5s ease-out forwards;
    }

    .hide-menu {
        animation: hideMenu 0.2s ease-out forwards;
    }

    @keyframes revealMenu {
        0%{
            height: 0px;
        }
        100% {
            height: 280px;
        }
    }
    @keyframes hideMenu {
        0%{
            height: 280px;
        }
        100% {
            height: 0px;
        }
    }

    .reveal-schedule-animation {
        opacity: 0;
        animation: reveal 0.5s ease-in-out forwards;
    }

    .reveal-stats {
        opacity: 0;
        animation: reveal 3s ease-in-out forwards;
    }

    @keyframes reveal {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}